
.testimonial-h1 {
    padding: 2vh 0 3vh 0;
    color: #434C57;
    line-height: 1.3;
    font-size: 40px;
    font-family: 'amaticSC', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }
  
  .section-eight {
    padding: 40px 0 0px 0;
    margin-top:2px;
    position: relative;
  }
  
  .op-eight-section {
    position: relative;
  }
  
  .sec-eight-text-area {
    text-align: center;
    padding: 100px 0 240px;
  }
  
  .sec-eight-text-area img {
    padding: 2vh 0;
  }
  

.sec-eight-text-area h1 {
    padding: 2vh 0 0 0; /* Adjust top padding to separate from other elements */
    margin-bottom: 5px; /* Optional: margin between h1 and h3 */
    color: #434C57;
    line-height: 1.3;
    font-size: 40px;
    font-family: 'amaticSC', sans-serif;
    letter-spacing: 2px;
  }
  
  .sec-eight-text-area h3 {
    margin-top: 0; 
    padding: 5px 0; 
    color: #4075b6;
    font-size: 20px;
    font-family: 'amaticSC', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
  }
  
  
  .sec-eight-text-area p {
    padding: 2vh 0;
    font-size: 14px;
    line-height: 1.6;
    color: #434C57;
    font-family: 'mavenpro', sans-serif;
  }
.section-eight .container-pe-quote {position: absolute;height: 100%;top: 0px;z-index: 1;}
.section-eight .container-pe-quote.left {left: 0px;}
.section-eight .container-pe-quote.right {right: 0px;}
.section-eight .container-pe-quote .pp-quote {
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 10px 30px #17cf97;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: 50% 1px;
    -moz-transform-origin: 50% 1px;
    -ms-transform-origin: 50% 1px;
    -o-transform-origin: 50% 1px;
    transform-origin: 50% 1px;
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.container-pe-quote .pp-quote img {
    overflow: hidden;
    border-radius: 100%;
    height: 100%;
    width: 100%;	    
    position: relative;
    z-index: 1;
}

/* For clicked image */

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 4px solid rgb(8, 49, 196);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  .circular-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
  /*for quote */
.quote .quote-icon {
    filter:  sepia(100%) saturate(7417%) hue-rotate(86deg) brightness(95%) contrast(95%);
  }
  .sec-eight-text-area .quote {
    margin-top: 15px; 
  }
  
.section-eight .container-pe-quote .pp-quote:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border-radius: 100%;
    background-color:  #17cf97;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.container-pe-quote .pp-quote:hover:after, .container-pe-quote .pp-quote.active:after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.section-eight .container-pe-quote .li-quote-1 {
    height: 104px;
    width: 104px;
    left: 15px;
    top: 95px;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    opacity: 1;
}.section-eight .photo1{
  width: 104px;
  height: 104px;
}
.section-eight .container-pe-quote .li-quote-2 {
    height: 63px;
    width: 63px;
    left: 120px;
    top: 270px;
    animation-duration: 12s;
    -webkit-animation-duration: 12s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
}
.section-eight .photo2{
  width: 63px;
  height: 63px;
}
.section-eight .container-pe-quote .li-quote-3 {
    height: 64px;
    width: 64px;
    left: 68px;
    top: 380px;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}
.section-eight .photo3{
  width: 64px;
  height: 64px;
}
.section-eight .container-pe-quote .li-quote-4 {
    height: 73px;
    width: 73px;
    right: -15px;
    top: 110px;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    opacity: 1;
}
.section-eight .photo4{
  width: 73px;
  height: 73px;
}
.section-eight .container-pe-quote .li-quote-5 {
    height: 73px;
    width: 73px;
    right: 28px;
    top: 265px;
    animation-duration: 8s;
    -webkit-animation-duration: 8s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    opacity: 1;
}
.section-eight .photo5{
  width: 73px;
  height: 73px;
}
.section-eight .container-pe-quote .li-quote-6 {
    height: 45px;
    width: 45px;
    right: 108px;
    top: 170px;
    animation-duration: 7s;
    -webkit-animation-duration: 7s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}
.section-eight .photo6{
  width: 45px;
  height: 45px;
}
.section-eight .container-pe-quote .li-quote-7 {
    height: 48px;
    width: 48px;
    right: 40px;
    top: 414px;
    animation-duration: 7s;
    -webkit-animation-duration: 7s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}
.section-eight .photo7{
  width: 48px;
  height: 48px;
}
.section-eight .container-pe-quote .li-quote-8 {
    height: 63px;
    width: 63px;
    left: 20px;
    top: 250px;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
}
.section-eight .photo8{
  width: 63px;
  height: 63px;
}
@keyframes floating{

0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
}

}
@-webkit-keyframes floating{

0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
}

}

.section-eight .container-quote {
  position: relative;
  width: 100%;
  margin-top: 10px;
  height: auto; /* Adjust the height based on content */
  background-color: beige; /* Set the background color */
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  -ms-perspective: 10000px;
  perspective: 10000px;
}
.section-eight .container-quote .quote {
  max-width: 520px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}
.section-eight .container-quote .quote.hide-bottom {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
    -moz-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
    -ms-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
    -o-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
    transform: translateX(-50%) translateY(100%) rotateX(-70deg);
}
.section-eight .container-quote .quote.hide-top {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
    -moz-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
    -ms-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
    -o-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
    transform: translateX(-50%) translateY(-100%) rotateX(70deg);
}
.section-eight .container-quote .quote.show {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0%) rotateX(0deg);
    -moz-transform: translateX(-50%) translateY(0%) rotateX(0deg);
    -ms-transform: translateX(-50%) translateY(0%) rotateX(0deg);
    -o-transform: translateX(-50%) translateY(0%) rotateX(0deg);
    transform: translateX(-50%) translateY(0%) rotateX(0deg);
}


.section-eight .container-dp-name {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 225px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
    -ms-perspective: 10000px;
  perspective: 10000px;text-align: center;
}
.section-eight .container-dp-name .box-dpname {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}
.section-eight .container-dp-name .box-dpname.hide-dp-bottom {
    opacity: 0;
    -webkit-transform: translateX(0%) translateY(100%) rotateX(-70deg);
    -moz-transform: translateX(0%) translateY(100%) rotateX(-70deg);
    -ms-transform: translateX(0%) translateY(100%) rotateX(-70deg);
    -o-transform: translateX(0%) translateY(100%) rotateX(-70deg);
    transform: translateX(0%) translateY(100%) rotateX(-70deg);
}
.section-eight .container-dp-name .box-dpname.hide-dp-top {
    opacity: 0;
    -webkit-transform: translateX(0%) translateY(-100%) rotateX(70deg);
    -moz-transform: translateX(0%) translateY(-100%) rotateX(70deg);
    -ms-transform: translateX(0%) translateY(-100%) rotateX(70deg);
    -o-transform: translateX(0%) translateY(-100%) rotateX(70deg);
    transform: translateX(0%) translateY(-100%) rotateX(70deg);
}
.section-eight .container-dp-name .box-dpname.look {
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) rotateX(0deg);
    -moz-transform: translateX(0%) translateY(0%) rotateX(0deg);
    -ms-transform: translateX(0%) translateY(0%) rotateX(0deg);
    -o-transform: translateX(0%) translateY(0%) rotateX(0deg);
    transform: translateX(0%) translateY(0%) rotateX(0deg);
}

@media screen and (max-width:767px){
    .sec-eight-text-area{    padding: 10px 0 10px 0;}
    .section-eight .container-pe-quote{position: relative;height: 500px;top: 0px;z-index: 1;max-width: 300px;margin: -70px auto 0;}
  }
  @media screen and (max-width:480px){
    .section-eight{position: relative;}
      .section-eight .bottom-ani-cs{    position: absolute;top: 150px;right: 16px;}	
      .section-eight .container-pe-quote .li-quote-2 {left: 60px;top: 270px;}
      .section-eight .container-pe-quote .li-quote-6 { right: 100px;top: 179px;}
      .section-eight .container-pe-quote .li-quote-8 {height: 43px;width: 43px;left: 0px;top: 220px;}
      .section-eight .container-pe-quote .li-quote-3{left: 0;}
      .section-eight .container-quote{height: 205px;overflow: hidden;overflow-y: auto;}
      .sec-eight-text-area{padding: 10px 0 100px 0;}
  }